.profile {
  height: calc(100vh - 74px);
  display: flex;
  flex-direction: column;
  min-height: 366px;
  min-width: 320px;
  background-color: #202020;
}

.profile__hello {
  margin: 0 auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  text-align: center;
  padding-top: 74px;
}

.profile__info {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  min-width: 410px;
  padding-top: 123px;
}

.profile__info-line {
  border-bottom: 1px solid #424242;;
  max-width: 410px;
  display: flex;
  justify-content: space-between;
}

.profile__info-line:last-child {
  border-bottom: 0;
}

.profile__info-line-content {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #fff;
  padding-bottom: 16px;
  padding-top: 16px;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 220px;
  padding-bottom: 70px;
}

.profile__edit-button {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  max-width: 410px;
  border: none;
  padding-bottom: 16px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s ease-out;
}

.profile__edit-button:hover {
  opacity: 0.7;
  transform: scale(1.1,1.1);
}

.profile__edit-button:active {
  transform: scale(0.9,0.9);
}

.profile__logout-button {
  text-align: center;
  color: #EE3465;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  max-width: 410px;
  border: none;
  text-decoration: none;
  transition: 0.5s ease-out;
}

.profile__logout-button:hover {
  opacity: 0.7;
  transform: scale(1.1,1.1);
}

.profile__logout-button:active {
  transform: scale(0.9,0.9);
}

@media (max-width: 430px) {
  .profile__info {
    min-width: 260px;
    width: calc(100% - 60px);
  }
}
