.portfolio {
  background-color: #202020;
}

.portfolio__container {
  max-width: 1140px;
  min-width: 290px;
  padding: 0 70px;
  margin: 0 auto;
}

.portfolio__header {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  margin: 0;
  padding-top: 107px;
}

.portfolio__list {
  list-style: none;
  margin: 0;
  padding-top: 32px;
  padding-left: 0;
  padding-bottom: 125px;
}

.portfolio__link {
  text-decoration: none;
  color: #fff
}

.portfolio__item {
  border-bottom: solid 1px #424242;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 22px;
  padding-bottom: 12px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.portfolio__item:hover {
  opacity: 0.7;
  transform: scale(1.04,1.04);
}

.portfolio__item:active {
  transform: scale(0.94,0.94);
}

.portfolio__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio__icon {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 60px;
}

@media all and (max-width:900px) {
  .portfolio__container {
    padding: 0 50px;
  }

  .portfolio__header {
    padding-top: 86px;
  }

  .portfolio__item {
    padding-top: 15px;
    padding-bottom: 11px;
  }

  .portfolio__list {
    padding-top: 36px;
  }
}

@media (max-width: 616px) {
  .portfolio__container {
    padding: 0 14px;
  }
  .portfolio__header {
    padding-top: 69px;
  }
  .portfolio__list {
    padding-top: 20px;
  }

  .portfolio__header {
    font-size: 14px;
  }

  .portfolio__text {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__item {
    padding-bottom: 19px;
    padding-top: 19px;
  }

  .portfolio__icon {
    font-size: 18px;
    line-height: 28px;
  }
}
