.portfolio {
  max-width: 1140px;
  padding: 0 70px;
  margin: 0 auto;
}

.portfolio__header {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  margin: 0;
  padding-top: 100px;
}

.portfolio__list {
  list-style: none;
  margin: 0;
  padding-top: 50px;
  padding-left: 0;
  padding-bottom: 125px;
}

.portfolio__link {
  text-decoration: none;
  color: #000
}

.portfolio__item {
  border-bottom: solid 1px #E5E5E5;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 20px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.portfolio__item:hover {
  opacity: 0.7;
  transform: scale(1.04,1.04);
}

.portfolio__item:active {
  transform: scale(0.94,0.94);
}

.portfolio__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio__icon {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 60px;
}

@media all and (max-width:900px) {
  .portfolio {
    padding: 0 50px;
  }

  .portfolio__header {
    padding-top: 79px;
  }

  .portfolio__list {
    padding-top: 36px;
  }
}

@media (max-width: 616px) {
  .portfolio {
    padding: 0 14px;
  }
  .portfolio__header {
    padding-top: 69px;
  }
  .portfolio__list {
    padding-top: 20px;
  }

  .portfolio__header {
    font-size: 14px;
  }

  .portfolio__text {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__item {
    padding-bottom: 20px;
  }

  .portfolio__icon {
    font-size: 18px;
    line-height: 28px;
  }
}
