.techs {
  width: 100%;
  padding-top: 116px;
  background-color: #272727;
}

.techs__container {
  max-width: 1140px;
  min-width: 280px;
  padding: 0 70px;
  margin: 0 auto;
}

.techs__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #fff;
  width: 100%;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
  margin: 0;
}

.techs__header {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #fff;
  padding-top: 97px;
  margin: 0;
}

.techs__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #fff;
  padding-top: 29px;
  max-width: 460px;
  margin: 0 auto;
}

.techs__list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  padding-top: 110px;
  padding-bottom: 107px;
}

.techs__list-item {
  background-color: #303030;
  color: #fff;
  border-radius: 10px;
  width: 90px;
  max-height: 60px;
  text-align: center;
  vertical-align: middle;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  padding-top: 21px;
  padding-bottom: 22px;
}

@media all and (max-width:900px) {

  .techs {
    padding-top: 92px;
  }

  .techs__container {
    padding: 0 50px;
  }

  .techs__header {
    padding-top: 77px;
  }

  .techs__text {
    padding-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }

  .techs__list {
    padding-top: 80px;
    padding-bottom: 86px;
  }

  .techs__list-item {

  }
}

@media all and (max-width:616px) {
.techs {
  padding-top: 70px;
}

.techs__container {
  padding: 0 18px;
}

.techs__text {
  padding-top: 24px;
  font-size: 11px;
  line-height: 16px;
}

.techs__list-item {
  width: 81px;
  padding-top: 19px;
}

.techs__title {
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 28px;
}

.techs__header {
  font-size: 30px;
  line-height: 36px;
  padding-top: 64px;
}

.techs__list {
  flex-wrap: wrap;
  padding: 50px 35px 64px 35px;
  gap: 9px;
}
}
