.header_type_green {
  background-color: #073042;
}

.header_type_black {
  background-color: #202020;
}

.header__container {
  max-width: 1140px;
  min-width: 292px;
  padding: 15.4px 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-in;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__menu {
  display: flex;
}

.header__menu-item {
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  transition: 0.5s ease-out;
}

.header__menu-item:hover {
  opacity: 0.7;
  transform: scale(1.1,1.1);
}

.header__menu-item:active {
  transform: scale(0.9,0.9);
}

.header__menu-item_type_signup {
  color: #fff;
  padding-right: 30px;
}

.header__menu-item_type_signin {
  color: #073042;
  background-color: #2BE080;
  border-radius: 3px;
  padding: 8px 20px;
}

.header__menu-item_type_movies {
  color: #fff;
  padding-left: 10px;
  cursor: pointer;
}

.header__menu-item_type_account {
  padding-left: 50px;
  font-weight: 500;
  color: #fff;
}

.header__menu-item_type_active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.header__account-icon {
  padding: 8px 7.25px;
  margin-left: 17px;
  color: #fff;
  background-color: #313131;
  border-radius: 3px;
}

.header__burger-button {
  background: url('../../images/burger-button.svg') center no-repeat;
  border: none;
  background-size: 100%;
  cursor: pointer;
  width: 44px;
  height: 44px;
  transition: 0.5s ease-out;
  display: none;
}

.header__burger-button:hover {
  opacity: 0.7;
  transform: scale(1.1,1.1);
}

.header__burger-button:active {
  transform: scale(0.9,0.9);
}

.burger-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.burger-menu_open {
  display: flex;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.burger-menu__container {
  background-color: #fff;
  position: absolute;
  top: 0;
  width: 520px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  right: -520px;
  transition: all 0.5s ease-in;
}

.burger-menu__container_open {
  margin-right: 0;
  transition: all 0.5s ease-in;
  right: 0;
}

.burger-menu__close-button{
  background: url('../../images/close-button.svg') center no-repeat;
  border: none;
  background-size: 100%;
  cursor: pointer;
  width: 22px;
  height: 22px;
  transition: 0.5s ease-out;
  position: absolute;
  right: 22px;
  top: 22px;
  z-index: 11;
}

.burger-menu__main {
  display: flex;
  flex-direction: column;
  padding-top: 159px;
  transition: all 0.5s ease-in;
}

.burger-menu__item {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  padding-bottom: 28px;
  transition: 0.5s ease-out;
}

.burger-menu__item:hover {
  opacity: 0.7;
  transform: scale(1.1,1.1);
}

.burger-menu__item:active {
  transform: scale(0.9,0.9);
}

.burger-menu__item_type_account {
  padding-bottom: 92px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.burger-menu-item_type_active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

@media all and (max-width:900px) {
  .header__container {
    padding: 15.4px 30px;
  }

  .header__menu {
    display: none;
  }

  .header__menu_type_buttons {
    display: flex;
  }

  .header__burger-button {
    display: block;
  }
}

@media all and (max-width:616px) {
  .header__container {
    padding: 18px 14px;
  }

  .header__menu-item {
    font-size: 10px;
    line-height: 16px;
  }

  .header__menu-item_type_signup {
    padding-right: 14px;
  }

  .header__menu-item_type_signin {
    padding: 5px 12px;
  }
}

@media all and (max-width:616px) {

  .burger-menu__container {
    width: 100%;
  }
}
