.load-more {
  min-width: 320px;
  padding: 0 70px;
  margin: 0 auto;
  padding-top: 78px;
  padding-bottom: 88px;
  background-color: #202020;
}

.load-more__button {
  width: 320px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #424242;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s ease-out;
  background: none;
  margin: 0 auto;
  display: block;
}

.load-more__button:hover {
  opacity: 0.7;
  transform: scale(1.04,1.04);
}

.load-more__button:active {
  transform: scale(0.94,0.94);
}

@media all and (max-width:900px) {
  .load-more {
    padding: 0;
    padding-bottom: 130px;
    padding-top: 0;
  }

  .load-more__button {
    width: 240px;
  }
}
