.card {
  width: calc((100% - 48px)/3);
  background: #222222;
  min-width: 300px;
}

.card__pic-wrapper {
  width: 100%;
  height: calc((100vw - 188px)*0.1834);
  max-width: 364px;
  max-height: 203px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 300px;
}

.card__picture {
  min-width: 100%;
  min-height: 100%;
}

.card__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
}

.card__text-container {
  max-width: calc(100% - 35px);
}

.card__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__duration {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  color: #8B8B8B;
  padding-top: 9px;
  margin: 0;
}

.card__like-btn {
  background-color: #F5F5F5;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.card__like-btn:hover {
  opacity: 0.7;
  transform: scale(1.04,1.04);
}

.card__like-btn:active {
  transform: scale(0.94,0.94);
}

.card__like-btn_active {
  background: url('../../../images/like-btm-active.svg') center no-repeat;
  background-size: 100%;
}

.card__like-btn_inactive {
  background: url('../../../images/like-btm-inactive.svg') center no-repeat;
  background-size: 100%;
}

.card__like-btn_type_remove {
  background: url('../../../images/remove-btn.svg') center no-repeat;
  background-size: 100%;
}

@media all and (max-width:900px) {
  .card {
    width: calc((100vw - 107px)/2);
    margin-bottom: 5px;
  }

  .card__pic-wrapper {
    height: calc((100vw - 90px)*0.271);
  }

  .card__duration {
    padding-top: 11px;
  }
}

@media (max-width: 580px) {
  .card {
    width: calc(100vw - 38px);
  }
  .card__pic-wrapper {
    height: calc(calc(100vw - 20px)*0.526);
    max-width: 560px;
    max-height: 300px;
  }

  .card__title {
    font-size: 15px;
    line-height: 18px;
  }

  .card__title-container {
    padding-top: 15px;
    padding-bottom: 13px;
  }

  .card__duration {
    margin: 0;
  }
}
