.promo {
  background-color: #073042;
}

.promo__container {
  max-width: 1210px;
  min-height: 524px;
  margin: 0 auto;
  display: flex;
  background-image: url('../../../images/pi.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.promo__title {
  max-width: 730px;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: auto;
  padding: 10px;
}

@media all and (max-width:900px) {
  .promo__container {
    min-height: 772px;
  }
}

@media all and (max-width:616px) {
  .promo__title {
    font-size: 31px;
    line-height: 39px;
  }

  .promo__container {
    min-height: 540px;
  }
}
