.promo {
  background-color: #073042;
}

.promo__container {
  max-width: 1140px;
  min-width: 300px;
  min-height: 524px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 75px;
  justify-content: space-between;
}


.promo__image {
  max-width: 310px;
  max-height: 304px;
  padding-top: 90px;
}

.promo__title {
  max-width: 640px;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  letter-spacing: -0.04em;
  margin: 0;
  padding-top: 80px;
}

.promo__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.5;
  padding-top: 40px;
  margin: 0;
  max-width: 310px;
}

.promo__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  transition: 0.5s ease-out;
  border: solid 1px #fff;
  border-radius: 3px;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 155px;
  color: #fff;
  display: inline-block;
}

.promo__link:hover {
  opacity: 0.7;
  transform: scale(1.1,1.1);
}

.promo__link:active {
  transform: scale(0.9,0.9);
}

@media all and (max-width:900px) {

  .promo__container {
    min-height: 772px;
    flex-direction: column;
    padding-bottom: 75px;
  }

  .promo__image {
    margin: 0 auto;
    padding-top: 140px;
  }

  .promo__info-container {
    display: flex;
    flex-direction: column;
  }

  .promo__title {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    padding-top: 48px;
  }

  .promo__text {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin: 0 auto;
    padding-top: 24px;
  }

  .promo__link {
    font-size: 12px;
    line-height: 16px;
    margin: 0 auto;
    margin-top: 92px;
  }
}

@media all and (max-width:616px) {
  .promo__title {
    font-size: 31px;
    line-height: 39px;
  }

  .promo__container {
    min-height: 540px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 26px;
  }

  .promo__image {
    padding-top: 70px;
    width: 66vw;
  }

  .promo__title {
    font-size: 30px;
    line-height: 38px;
    padding-top: 36px;
  }

  .promo__text {
    padding-top: 24px;
  }

  .promo__link {
    margin-top: 80px;
  }
}
