.about-me {
  max-width: 1280px;
  min-width: 320px;
  padding: 0 70px;
  padding-top: 110px;
  margin: 0 auto;
}

.about-me__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  width: 100%;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
  margin: 0;
}

.about-me__info-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 66px;
}

.about-me__info {
  display: flex;
  flex-direction: column;
  max-width: 612px;
}

.about-me__photo {
  border-radius: 10px;
  max-width: 270px;
  max-height: 327px;
}

.about-me__name {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
}

.about-me__main-info {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding-top: 18px;
}

.about-me__about {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  padding-top: 26px;
  padding-right: 24px;
}

.about-me__social-links {
  display: flex;
  margin: 0;
  padding-top: 99px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.about-me__social-link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding-right: 20px;
  text-decoration: none;
  color: #000;
  transition: 0.5s ease-out;
}

.about-me__link {
  color: #000;
  text-decoration: none;
}

.about-me__social-link:hover {
  opacity: 0.7;
  transform: scale(1.1,1.1);
}

.about-me__social-link:active {
  transform: scale(0.9,0.9);
}

@media all and (max-width:900px) {
  .about-me {
    padding: 0 50px;
    padding-top: 90px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__main-info {
    font-size: 12px;
    line-height: 18px;
    padding-top: 13px;
  }

  .about-me__about {
    font-size: 12px;
    line-height: 18px;
    padding-top: 16px;
  }

  .about-me__photo {
    max-width: 255px;
    max-height: 307px;
  }

  .about-me__social-links {
    padding-top: 83px;
  }
}


/* Inline таблица стилей #6 | http://localhost:3000/ */

@media (max-width: 616px) {
  .about-me {
    padding: 0 14px;
    padding-top: 70px;
  }
  .about-me__photo {
    max-width: 540px;
    max-height: 634px;
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
  .about-me__name {
    font-size: 30px;
    line-height: 36px;
    padding-top: 40px;
  }
  .about-me__main-info {
    font-size: 11px;
    line-height: 16px;
    padding-top: 20px;
  }
  .about-me__about {
    font-size: 11px;
    line-height: 16px;
    padding-top: 20px;
    padding-right: 0;
  }
  .about-me__social-links {
    padding-top: 40px;
  }

  .about-me__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }

  .about-me__info-container {
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    margin: 0 auto;
    align-content: center;
  }
}

@media (max-width: 430px) {
  .about-me__photo {
    width: 100%;
  }
}
